*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

h1{
    padding-top: 30px;
    text-align: center;
}

.info{
    padding-top: 35px;
    text-align: center;
    gap: 10px;
}



