body{
    font-family: Arial;
    text-align: center;
}

li{
    list-style: none;
    margin: 10px;
    font-size: 18px;
}

.completed{
    text-decoration: line-through;
    color: green;
}

input[type="checkbox"]{
    transform: scale(1.3);
    margin-right: 10px;
}